<div class="side-crop">
<img src="../../assets/images/box.PNG">
</div>
<body>
  <p>Welcome back! Please login to your account.</p>
  <div id="form_login">
    <h1> VELOX AI </h1>
    <br>
    <label for="username"></label>
      <input type="text" 
      class="form-control" 
      [(ngModel)]="model.username" 
      id="username"
      placeholder="Username"
       />
      <br>
      <label for="password"></label>
      <input type="password" 
      class="form-control" 
      [(ngModel)]="model.password" 
      id="password" 
      placeholder="Password"
      />
      <br>
      <input type = "checkbox"
      class="check-control"
      name = "Remember me" 
      value = "on"> <a>  Remember me </a>
      <br>
      <button class="button button1" (click)="login()">Login</button>
   <button class ="button button2" routerLink="/register">Register</button>
  </div>
</body>
 